## Data

In [1]:
import pandas as pd

In [2]:
students = {
    'name': ['Finley', 'Andrew', 'Blake', "Denis"],
    'last_name': ['Brown', 'Bradley', 'Hughes', "James"],
    'age': [23, 21, 34,24],
    "student_number":[101, 403, 202,1]
    

}

In [3]:
student_df = pd.DataFrame(students)

## Applymap

* DataFrame'ler ile çalışır

* Alt elemanın alt elemanına etki eder (alt elemanı Series, onun alt elemanı Series'in elemanları)

In [4]:
student_df

     name last_name  age  student_number
0  Finley     Brown   23             101
1  Andrew   Bradley   21             403
2   Blake    Hughes   34             202
3   Denis     James   24               1

In [5]:
df_str = student_df[["name", "last_name"]]
df_str # string tipindeki columnlar olan df

     name last_name
0  Finley     Brown
1  Andrew   Bradley
2   Blake    Hughes
3   Denis     James

In [6]:
df_str.apply(len)

name         4
last_name    4
dtype: int64

In [8]:
df_str.applymap(len)

C:\Users\omers\AppData\Local\Temp\ipykernel_260\706095057.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_str.applymap(len)

   name  last_name
0     6          5
1     6          7
2     5          6
3     5          5

In [2]:
str.lower("MerHaba")

'merhaba'

In [9]:
df_str.applymap(str.lower)

     name last_name
0  finley     brown
1  andrew   bradley
2   blake    hughes
3   denis     james