In [2]:
import numpy as np
import pandas as pd

In [3]:
people = {
    "name": ["Finley", "Andrew", "Blake"],
    "last_name": ["Brown", "Bradley", "Hughes"],
    "age": [23,21,34]
         
}

In [4]:
student_df = pd.DataFrame(people)

# DataFrame'in Column İsimlerine Ulaşmak

In [5]:
people

{'name': ['Finley', 'Andrew', 'Blake'],
 'last_name': ['Brown', 'Bradley', 'Hughes'],
 'age': [23, 21, 34]}

In [6]:
student_df

     name last_name  age
0  Finley     Brown   23
1  Andrew   Bradley   21
2   Blake    Hughes   34

In [7]:
people.keys()

dict_keys(['name', 'last_name', 'age'])

In [8]:
student_df.columns

Index(['name', 'last_name', 'age'], dtype='object')