In [17]:
import numpy as np
import pandas as pd

In [18]:
students = {
    'name': ['Finley', 'Andrew', 'Blake', "Denis"],
    'last_name': ['Brown', 'Bradley', 'Hughes', "James"],
    'age': [23, 21, 34,24],
    "student_number":[101, 403, 202,1]
    

}

In [19]:
df = pd.DataFrame(students)

# DataFrame - Set Index

In [15]:
df

     name last_name  age  student_number
0  Finley     Brown   23             101
1  Andrew   Bradley   21             403
2   Blake    Hughes   34             202
3   Denis     James   24               1

In [16]:
df["student_number"]

0    101
1    403
2    202
3      1
Name: student_number, dtype: int64

* Şuan DataFrame'in indexleri *0,1,2* şeklinde. Bunlar pek belirleyici değil

* Her öğrenciye özel bir yapıyı index olarak kullansak, row'ların adı onlarla anılsa daha belirleyici olurdu

* Student number (öğrenci numarası) bunu sağlayacak gibi sanki. Her öğrencinin kendine özgün öğrenci numarası ve o numarayı deyince hangi öğrenciden bahsettiğimiz belirli olyor. Ama bu haliyle 0,1,2 belirleyici değil

In [6]:
# Hangi column'u index yapacaksak input olarak adını yazıyoruz
df.set_index("student_number")

                  name last_name  age
student_number
101             Finley     Brown   23
403             Andrew   Bradley   21
202              Blake    Hughes   34
1                Denis     James   24

In [7]:
df

     name last_name  age  student_number
0  Finley     Brown   23             101
1  Andrew   Bradley   21             403
2   Blake    Hughes   34             202
3   Denis     James   24               1

* Orijinal DataFrame i güncellemiyor, iki şekilde bunu yapabiliriz:

In [8]:
# df = df.set_index("student_number") #bu şekildede yapabilirim. Her iki şekildede güncellenir.

df.set_index("student_number", inplace=True)

In [9]:
df

                  name last_name  age
student_number
101             Finley     Brown   23
403             Andrew   Bradley   21
202              Blake    Hughes   34
1                Denis     James   24

In [10]:
df["name"]

student_number
101    Finley
403    Andrew
202     Blake
1       Denis
Name: name, dtype: object

In [11]:
df["student_number"]

KeyError: 'student_number'