In [31]:
import numpy as np
import pandas as pd

In [32]:
students = {
    'name': ['Finley', 'Andrew', 'Blake', "Denis"],
    'last_name': ['Brown', 'Bradley', 'Hughes', "James"],
    'age': [23, 21, 34,24],
    "student_number":[101, 403, 202,1]
    

}

In [33]:
df = pd.DataFrame(students)

In [34]:
df.set_index("student_number", inplace=True)

# DataFrame - Row'lara Ulaşmak

## loc

* loc bize DataFrame'in rowlarına etiket bazlı erişmemizi sağlar. Row'ların lokasyonlarına (konumlarına) göre erişim **sağlamaz**

In [35]:
df

                  name last_name  age
student_number
101             Finley     Brown   23
403             Andrew   Bradley   21
202              Blake    Hughes   34
1                Denis     James   24

* row'ların etiketleri *101,403,202,1*

* Row'ların lokasyonları *0,1,2,3*

* loc *101,403,202,1* ' e göre erişim yapmamızı sağlayacak

In [36]:
df.iloc[0]

name         Finley
last_name     Brown
age              23
Name: 101, dtype: object

In [37]:
df.loc[101]

name         Finley
last_name     Brown
age              23
Name: 101, dtype: object

In [38]:
df.loc[0]

KeyError: 0

In [39]:
df.loc[1]

name         Denis
last_name    James
age             24
Name: 1, dtype: object

In [40]:
df

                  name last_name  age
student_number
101             Finley     Brown   23
403             Andrew   Bradley   21
202              Blake    Hughes   34
1                Denis     James   24

## Fancy Indexing

In [41]:
df.loc[[101, 202]]

                  name last_name  age
student_number
101             Finley     Brown   23
202              Blake    Hughes   34

In [42]:
df.loc[[101,1]]

                  name last_name  age
student_number
101             Finley     Brown   23
1                Denis     James   24

## Belirli Bir Column'un Belirli Row'ları Seçmek

* Genel form indexing yaparken numpy'da olduğu gibi [row, column] şeklinde olacak

In [43]:
df

                  name last_name  age
student_number
101             Finley     Brown   23
403             Andrew   Bradley   21
202              Blake    Hughes   34
1                Denis     James   24

In [22]:
df.loc[[101,403], 0]

KeyError: 0

* Hata aldık çünkü iloc hem rowları hem de columnları etiket bazlı istiyor, ama bu örnekte columnları lokasyon bazlı,0, vermiş olduk (0 adında bir column olsa hata almazdık!).

In [44]:
df.loc[[101,403], "name"]

student_number
101    Finley
403    Andrew
Name: name, dtype: object

In [45]:
df.iloc[[0,1], 0]

student_number
101    Finley
403    Andrew
Name: name, dtype: object

* **Son değeri dahil ediyor**. Sıralanış olarak 101 den 102 ye kadarki rowları almış oldu

In [46]:
df

                  name last_name  age
student_number
101             Finley     Brown   23
403             Andrew   Bradley   21
202              Blake    Hughes   34
1                Denis     James   24

In [47]:
df.loc[101:202, "name"]

student_number
101    Finley
403    Andrew
202     Blake
Name: name, dtype: object

In [48]:
df.iloc[0:2, 0]

student_number
101    Finley
403    Andrew
Name: name, dtype: object

In [49]:
df.loc[403:101:-1, "name"]

student_number
403    Andrew
101    Finley
Name: name, dtype: object

## Olmayan Bir etiketi loc İle Çağırmak

In [50]:
df

                  name last_name  age
student_number
101             Finley     Brown   23
403             Andrew   Bradley   21
202              Blake    Hughes   34
1                Denis     James   24

In [51]:
df.loc[1011] # Böyle diyemeyiz hata verir.

KeyError: 1011

In [53]:
df.loc[2]

KeyError: 2